# Ignore development dependencies
back-end/node_modules
front-end/node_modules


# Ignore build artifacts
dist/
*.log

# Ignore Docker-specific files
.dockerignore
Dockerfile
docker-compose.yml

# Ignore version control files
.git/
.gitignore
