.PizzaName {
  padding-bottom: 30px;
  color: var(--title-color);
}
.edit-Container {
  color: var(--content-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-roboto-condensed);
}

.SizeContainer {
  padding-bottom: 30px;
}
.sizeTitle {
  padding-bottom: 30px;
}
.BaseTitle {
  padding-bottom: 30px;
}
.SaveButtonContainer{
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 20px;
}
