@import "../../globalStyles.scss";
.MenuItem-Container {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-family: var(--font-roboto-condensed);
}
.Home-Link {
  @extend .no-underline-white;
}

.Menu-Link {
  @extend .no-underline-white;
}
