:root {
  --font-roboto: "Roboto", sans-serif;
  --font-roboto-condensed: "Roboto Condensed", sans-serif;
  --content-font: "Barlow Condensed", sans-serif;
  --title-color: rgb(104, 110, 108);
  --content-color: #898585;
  --background: #ffffff;
  --list-color:rgb(233, 238, 237);
  --green:#0e985e;
}

@mixin image-styles {
  width: 100%;
  max-height: 200px;
  border-radius: 8px;
  margin-bottom: 12px;
  object-fit: cover;
}

@mixin responsive-card-styles {
  @media (min-width: 768px) and (max-width: 1023px) {
    .card {
      max-width: 260px;
      border-radius: 8px;
     
    }
  }
}

@mixin responsive-Pizza-Menu-styles {
  @media (min-width: 1024px) and (max-width: 1675px) {
    .pizza-items-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .basket-container {
      display: none;
    }
    .pizza-menu-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 70%;
      margin: auto;
      padding: 0px;
    }
  }
}
