@import "../../globalStyles.scss";

.checkoutContainer {
  display: flex;
  flex-direction: row; /* Ensure horizontal stacking */
  align-items: flex-start; /* Align items at the top */
  justify-content: center;
  padding: 20px;
  background-color: rgb(220, 217, 217);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 100vh; /* Ensure container covers full viewport height */
  gap: 150px; /* Gap between .form and .basketReview */
  
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 120px; /* Adjust margin as needed for spacing */
     
    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    .name,
    .email,
    .phoneNumber,
    .address1,
    .address2,
    .city,
    .postalCode {
      margin-bottom: 15px;
    }
  }

  .basketReview {
    flex: 1; /* Allow it to grow and occupy remaining space */
    overflow-y: auto; /* Enable vertical scroll if needed */
    padding: 20px; /* Add padding for better spacing */
    text-align: center;
    min-height: 100vh; /* Ensure it covers full viewport height */
   
    
    .basketItem {
      display: flex;
      padding: 10px;
      border-bottom: 2px solid #ccc; /* Example border */
      
    }
    .basketItem p{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
    }

    .basketItem:last-child {
      border-bottom: none; /* Remove border on last item */
    }

    .line {
      border-top: 2px solid #ccc;
      margin: 10px 0;
    }

    .removedToppings {
      color: red;
    }

    .pizzaName {
      font-family: var(--font-roboto-condensed);
      font-size: 1.8rem;
    }
  }

  .title {
    font-size: 2rem;
    padding-bottom: 20px;
  }
}
