// ToolTip.scss
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
}

.tooltip-text {
  visibility: hidden;
  width: auto;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.9s;
  font-family: var(--font-roboto-condensed);

  .tooltip.active & {
    visibility: visible;
    opacity: 1;
  }
}
