.ToppingListContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: left;
  width: 88%;
  margin: auto;
  font-family:var( --font-roboto-condensed);
  font-size:0.8rem;
}
.list-Container {
  margin-top: 2px;
  display: flex;
  background-color: var(--list-color);
}
.ToppingName-Container{
  background-color: var(--list-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 5px;
}

.Topping-Qauntity{
  display: flex;
  max-height: 22px;
  max-width: 22px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: #0e985e;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}
.Topping-Name{
width: 90%;
padding-left: 3px;
font-weight: bold;
}

.in-ToppingList {
  margin-top: 2px;
  color: green;
  background-color: var(--list-color);;
}

.in-Basket {
  color: red;
}

.in-Default {
  color: black;
  background-color: var(--list-color);;
  margin-top: 2px;
 
}

.in-green {
  color: blueviolet;
}
ul {
  list-style-type: none;
}

/* Add this to your styles */
.visible {
  display: inline-block; /* or any other style to make it visible */
}

.hidden {
  display: none;
}
